.main {
    .education-section {
        margin-top: 20px;

        .education-item {
            margin-bottom: 24px;

            display: flex;
            flex-direction: column;

            .education-degree {
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: 6px;
                color: #000; // Black for emphasis
            }

            .education-institution {
                font-size: 1rem;
                color: #757575; // Grey for secondary text
                margin-bottom: 4px;
            }

            .education-detail {
                font-size: 0.9rem;
                color: #616161; // Slightly darker grey for stream and CGPA
            }
        }
    }

    // Line under "My Education"
    .line {
        height: 2px;
        background-color: #000; // Black for line
    }

    .section-title {
        line-height: 1.2;
        font-size: 1.8rem;
    }

    &.sm {
        .education-section {
            margin-top: 16px;

            .education-item {
                .education-degree {
                    font-size: 1.3rem;
                }

                .education-institution,
                .education-detail {
                    font-size: 0.9rem;
                }
            }
        }
    }

    &.xs {
        .education-section {
            margin-top: 12px;

            .education-item {
                .education-degree {
                    font-size: 1.1rem;
                }

                .education-institution,
                .education-detail {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
