<div class="tb-position--relative main current" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

            <!-- Section Header -->
            <h2 [@transitionText]="{value:_mTriggerAnim, params:{animDelay:100}}" ngClass.gt-sm="current-typo--h3-light"
                ngClass.sm="current-typo--h3-light" ngClass.xs="current-typo--h4">My Experiences.</h2>

            <div ngClass.gt-xs="tb-height--56" ngClass.xs="tb-height--20"></div>

            <!-- Experience: Junior Software Engineer -->
            <div class="experience-section tb-position--relative card tb-color-bg--black-4">
                <div class="card-content tb-position--relative" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="50" fxLayout="column" class="tb-padding--right-16">
                        <h3 class="experience-title current-typo--h5">Junior Software Engineer</h3>
                        <p class="experience-company tb-color--black-75">
                            NetXD | May 2024 - Present | Chennai, India
                        </p>
                        <ul class="experience-details">
                            <li>Worked on product development using a modern tech stack while following Agile methodologies.</li>
                            <li>Improved system reliability by 20% through Go, MongoDB, and Java database interfacing, enhancing user experience by resolving 50 bugs.</li>
                            <li>Reduced response time by 15% by implementing RPC to gRPC and designing a real-time data pipeline with NATS.</li>
                            <li>Optimized JSON data processing with ClickHouse, reducing data retrieval time by 30%, and developed dynamic dashboards using Grafana, improving visualization efficiency by 40%.</li>
                            <li>Managed and streamlined Metabase for data analytics, overseeing 50 ETL operations, improving reporting accuracy by 20%, and reducing query time by 15%.</li>
                            <li>Reduced bank-FED testing time by 20% with a Golang simulation tool, ensuring protocol adherence (ISO 20022).</li>
                            <li>Led backend development in a microservices architecture using Golang and Docker, enhancing scalability by 35% and reducing downtime by 25%.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ngClass.gt-xs="tb-height--32" ngClass.xs="tb-height--20"></div>

            <!-- Experience: Project Intern -->
            <div class="experience-section tb-position--relative card tb-color-bg--white">
                <div class="card-content tb-position--relative" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="50" fxLayout="column" class="tb-padding--right-16">
                        <h3 class="experience-title current-typo--h5">Project Intern</h3>
                        <p class="experience-company tb-color--black-75">
                            NetXD | Aug 2023 - Apr 2024 | Chennai, India
                        </p>
                        <ul class="experience-details">
                            <li>Collaborated with the development team to deliver cutting-edge software solutions.</li>
                            <li>Developed and maintained high-performance web applications using Golang and Angular, boosting user engagement by 50%.</li>
                            <li>Designed and deployed RESTful APIs in Golang, facilitating a 30% increase in data communication efficiency.</li>
                            <li>Improved MongoDB database performance by 20% through efficient schema design and query optimization.</li>
                            <li>Streamlined version control with Git, improving team collaboration and reducing integration issues by 20%.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
